body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #ededed;
}

.glass {
    background: rgba(17, 17, 17, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid #262626;
}

.sidebar-item.active {
    background: #171717;
    color: white;
    border-right: 2px solid #6366f1;
}

.view {
    display: none;
}

.view.active {
    display: block;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}
